<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if pageName %}
        {{pageName}}
      {% else %}
        Home
      {% endif %}
      | Mnemosyne</title>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#target" aria-expanded="false">
            <span>Menu</span>
          </button>
          <a class="navbar-brand" href="/">Mnemosyne</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="target">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="\keystone">Modifica</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/keystone/fontis">Fonti</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Attori <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/actors">Visualizza Attori</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/keystone/actors">Modifica Attori</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Casi d'uso <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/usecases">Visualizza Casi d'uso</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/keystone/use-cases">Modifica Casi d'uso</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Requisiti<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/requisiti">Visualizza Requisiti</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/keystone/requisitis">Modifica Requisiti</a></li>
              </ul>
            </li>
            <li><a href="/test">Test</a></li>
            <li><a href="/glossario">Glossario</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% block content %}
      main content
    {% endblock %}
      <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {% block js%}
      <script src="/javascript/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
