@import "base";

header{
  text-align: center;
}
.entry{
  border-bottom: 1px solid black;
}
.nome h2{
  font-size: 1.5em;
  font-weight: bold;
}
.contenuto h3{
  font-size: 1.2em;
}
.stampa{
  text-align: center;
  padding-bottom: 2em;
}
.modal-body {
  text-align: left;
}
.modal-body ol{
  text-align: left;
    -webkit-user-select: all; /* Chrome/Safari */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* IE10+ */

}
